<div class="container">

  <!-- Register Form -->
  <div *ngIf="!showLogin">
    <h3>Register</h3>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" [(ngModel)]="userData.name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email"
          [(ngModel)]="userData.email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="email" id="password" placeholder="Password"
          [(ngModel)]="userData.password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
    </form>

    <button class="btn btn-success btn-block mt-3" (click)="loginRegisterSwitch('register')">{{btnText}}</button>
  </div>

  <!-- Login Form -->
  <div  *ngIf="showLogin">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email" name="email" [(ngModel)]="loginData.email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="loginData.password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
  </form>

  <button class="btn btn-success btn-block mt-3" (click)="loginRegisterSwitch('login')">{{btnText}}</button>
  </div>
</div>