
<button class="btn btn-danger logout" (click)="logout()">Logout</button>
<!-- All users list -->
<div class="card card-shadow" *ngIf="showAllUsers">
  <div class="card-header">
   <h3 class="ml-3">All Users</h3>
  </div>
  <div class="card-body">
      <table class="table tablePadding">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name </th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="usersList?.length">
            <tr *ngFor="let user of  usersList ;let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{user?.name}}</td>
              <td>{{user?.email}}</td>
              <td>
                <button class="btn btn-info" (click)="addFriend(user)">Add Friend</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <button class="btn btn-success btn-block mt-3" (click)="friendUserSwitch('friends'); getAllFriends()">{{btnText}}</button>
</div>

<!-- all friends users-->
<div class="card" *ngIf="!showAllUsers">
    <div class="card-header">
     <h3 class="ml-3">All Friends</h3>
    </div>
    <div class="card-body">
        <table class="table tablePadding">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name </th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="friendsList?.length">
              <tr *ngFor="let friend of  friendsList ;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{friend?.name}}</td>
                <td>{{friend?.email}}</td>
                <td>
                  <button class="btn btn-info" (click)="removeFriend(friend)">Remove Friend</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <button class="btn btn-success btn-block mt-3" (click)="friendUserSwitch('users'); getAllUsers()">{{btnText}}</button>
  </div>